/*removed the image and did straight background*/
    body {
	background-image:"images/teams.jpg";
	background-color:#ff0000;
	height:auto;
	margin-top: 0px;
	padding:10px 0 125px 0px;
	color:#ff0000;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

#navigation ul{
	width:auto; 
	height:32px; 
	background-image:"images/header_.jpg";
	text-align:center;
	list-style-type: none;
}
#navigation ul li{
	float:left; 
	width:100px; 
	height:32px; 
	padding:0px;
	border-right:2px solid #000;
}
#navigation ul li a{
	display:block; 
	width:100px; 
	height:32px; 
	background-color:#f00; 
	color:#000; 
	font-size:11px; 
	font-weight:bold; 
	line-height:32px; 
	text-transform:uppercase; 
	text-align:center; 
	text-decoration:none;
}
#navigation ul li a:hover, active{
	background-color:#fff; 
	color:#f00; 
	text-decoration:none;
}

#navigation ul li.home{
	display:block; 
	width:100px; 
	height:32px; 
	background-color:#f00;  
	font-size:11px; 
	font-weight:bold; 
	line-height:32px; 
	color:#000; 
	text-decoration:none; 
	text-transform:uppercase; 
	text-align:center;
}
/* added the h1*/
h1 {
    text-align: center;
    color:#000;
    text-shadow:2px 2px #818181;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

label {
	display:block;
	font-size:16px;
}
input, textarea, select {
	display:block;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	margin:auto;
}

textarea {
	padding:5px;	
}
.clear {
	clear:both;	
}
.hide {
	display:none;	
}

.edit {
	border:2px dashed #cccccc;
	text-align:center;
}

.edit:hover, textarea.active {
	border:2px inset gray;	
}


#title {
	text-align:center;
	font-size:36px;
	margin:auto;
	line-height:36px;
}

textarea#title {
	height:50px;
	width:90%;
	color:#012b45;
}

#game {
	width:100%;
	background-color:#000000;
	padding:0;
	margin:0;
	margin:auto;
	font-size:16px;
}

#game textarea {
	width:90%;
	height:30px;
	font-size:18px;
	line-height:22px;
}
/*numbers for the game category*/
#game h3 {
	color:#FFf;
	text-align:center;
	font-size:20px;
	font-weight:bold;
}
/*headings for the column categories*/
        #game thead th {
	vertical-align: middle;
	background-image:"";
	padding:5px;
	text-align:center;
	width:19%;
	color:#fff;
        text-shadow:1px 1px #000;
	height:60px;
	font-size:20px;
	border: 2px solid #fff;
	
}
#game thead td {
	vertical-align: middle;
	background-color:#f90909;
	padding:5px;
	text-align:center;
	width:19%;
	color:#f90909;
        text-shadow:2px 2px #000;
	height:100px;
	font-size:20px;
	border: 2px solid #fff;
	
}
/*columns*/
/*background image in cells*/
#game tbody td {
    cursor:pointer;
    width:100px;
    height:100px;
    border:3px solid #fff;
    background-color: #f90909;
  /*# made background images */
	background-image:url(../images/teams.jpg);
	background-position: center;
    background-repeat: no-repeat;
}

#game tbody td.ie-hack {
	border:3px solid #f90909;
}

/*#game tbody td.clean:hover {
	border:3px solid #ffff5f;
}
#game tbody td.dirty:hover {
	border:3px solid #2a3698;
}*/

#game tbody td.dirty h3 {
	color:#f00;
	 background-image:url(..images/teams.jpg);
	 width:100%;
         height:100px;
	text-align:center;
	text-shadow:2px 2px #000;
	background-position: center;
        background-repeat: no-repeat;
	
}

#game tfoot td {
	text-align: center;
	background-color:#f90909;
}

.submit {
	margin:auto;
	width:180px;
}

#modal {
	display: none;
	background-color:#fff;
	padding:5px;
	border:2px dashed #f90909;
}

#modal {
	font-size:16px;
	font-weight:bold;
}

#modal textarea {
	width:500px;
	height:120px;
	font-size:16px;
}

#options {
	/*label area*/
	width:800px;
	padding:10px;
	margin:auto;
	margin-top:25px;
}

#options h1 {
	font-size:50px;
	text-align:center;
	color:#000;
        text-shadow:2px 2px #f90909;
}

#options label {
	text-align: center;
	font-size:20px;
	color:#000000;
}

#options select, #options label, #options input {
	margin-top:5px;
}

#options select {
	width:130px;	
}

#options input {
	width:100px;	
}
#options p {
	margin-bottom:0px;
	color:#f90909;
	font-weight: bold;	
}

.tip {
	float:left;
}

.links {
	float:right;
}


#stats {
	position:fixed;
	bottom:0;
	background-color:#000;
	width:100%;
	text-align:center;
	height:100px;
	display:none;
	left:0;
}

#stats h3 {
	margin:0;
	padding:0;	
}

#stats input.team-name {
    border:none;
    font-size:18px;
    font-weight:bold;
    text-align:center;
    color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color:#000;
    width:100%;
    display:block;
}

#stats table {
	margin:auto;
}

#stats table th {
	background-color:#f90909;
	border-bottom:1px solid black;
}

input.add-points {
	color:#66cc33;
	font-family:"Courier New", Courier, monospace;
	font-weight:bold;
	font-size:20px;
	cursor:pointer;
	padding:0px;
	/* plus sign button */
	background-color:#fff;
	border:none;
	display:inline;
}

input.subtract-points {
	color:#ff0000;
	font-family:"Courier New", Courier, monospace;
	font-weight:bold;
	font-size:20px;
	cursor:pointer;	
	padding:0px;
	background-color:#f90909;
	border:none;
	display:inline;
}

#prompt {
	display:none;
	height:100%;
	width:100%;
	background-color:#f90909;
	color:#FFFFFF;
	text-align:center;
}

#prompt a:link, #prompt a:visited, #prompt a:hover {
	color:#fff;
	font-size:18px;
	text-decoration:underline;
}

#prompt a:hover {
	text-decoration:none;
}

#simplemodal-overlay {
	background-color:#000;
}
